@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
*, body {font-family: Lato;}
form {
	width: 100%;
}
.bootstrap-select {
	width: 100% !important;
}	
.bootstrap-select .btn{
	border: 1px solid #ced4da;
	padding: 18px;
	background: #ffffff;
}
a.link_blog h3:hover,
a.link_blog .resume:hover {
	transition: 0.1s;
	color: #ffb000 !important;	
}
.btn-default {
	border: 1px solid #ced4da;
	color: #000000;
	width: 100%;
}
.btn-default:hover {
	color: #ffb000;
	background: #000000;
	text-decoration: none;
	transition: 0.3s;
}
#suggest .form-control{
	border-radius: 2px;
	padding: 30px 15px;
}
.title_section {
	font-size: 19px;
    border-bottom: 1px solid #cccbcb;
    margin: 20px;
    padding-bottom: 5px;
    width: 100%;
}
.news_blog {
	position: relative;
}
.details {
	background: #ffffff;
	position: relative;
	margin: -130px 10px 0 10px;
	padding: 10px;
}
.details h3 {	
	color: #000000;
	font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: 900;
}
.details .resume {
	color: #a9a9a9;
	font-size: 0.9rem;
}
.details .date {
	color: #a9a9a9;
	font-size: 0.7rem;	
}
.details .date:before {
	content: url(../images/clock.svg);
	position: relative;
	margin-right: 5px;
	top: 1px;
	background-size: 11px 11px;
	width: 11px;
  	height: 11px;
  	display: inline-block;
}
.category {
	position: absolute;
	top: 20px;
	left: 10px;
    margin: 0;
    padding: 6px 9px;    
    background: rgba(0,0,0,.2);
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1;
    color: #fff;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.category:hover {
	transition: 0.1s;
	color: #ffb000 !important;	
	background: rgba(0,0,0,1);
}
.news_blog a:hover {
	text-decoration: none;
}

/*//Result*/
.result .news_blog{
	display: flex;
	max-height: 160px;	
}
.result figure {
	max-width: 243px;
}
.result .details {
	margin: 0;	
	background: transparent;
}

/*Post*/
.postBuzz .category {
	position: inherit;
	display: table;
    margin: 0 0 20px 0;
    padding: 6px 9px;  
    font-size: 0.8rem;  
}
.postBuzz .details {
	position: relative;
	margin: 0 0 10px;
	padding: 0;

	border-bottom: 2px solid #cccbcb;
}
.postBuzz .details:before {
	content: '';
	width: 120px;
	height: 2px;
	background: #ffb000;
	position: absolute;
	bottom: -2px;
}
.postBuzz .details h3 {	
	font-size: 2.4rem;
    line-height: 2.8rem;
}
.postBuzz .details .date {
	font-size: 1.0rem;  
	margin-bottom: 10px;
}
.postBuzz .details .date:before {
	margin-right: 5px;
	top: 1px;
	background-size: 15px 15px;
	width: 15px;
  	height: 15px;  	
}
.postBuzz .thumb_blog img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.postBuzz .post-content p:nth-child(1)::first-letter {
    color: #ffb000;
    font-weight: 900;
    float: left;
    font-size: 56px;
    line-height: 48px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 2px;
}
.post-content h3 {
	font-weight: 900;
}
.postBuzz .post-content p {
	font-size: 18px;
    line-height: 32px;
}
.postBuzz .post-content p strong {
	font-weight: 700;
}
.post-content p a {
	color: #ffb000;
}
.post-content p a:hover {
	color: #000000;
	transition: 0.3s;
}
.postBuzz .post-content figure {
	text-align: center;
}


.solicite_consult {
    background: rgba(285, 181, 70, .75);
    padding: 20px 20px 1px;
    margin-top: 8px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px
}
.solicite_consult,
.solicite_consult .title {
    background: rgba(243, 173, 0, 1)
}
.solicite_consult {
    border-radius: 0;
    padding: 0
}
.solicite_consult .title h2 {
    text-align: center;
    padding: 15px 10px;
    font-size: 1.4rem;

    margin-bottom: 30px;
    -webkit-box-shadow: 0 10px 10px -2px rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 10px 10px -2px rgba(0, 0, 0, .22);
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, .22)
}
.solicite_consult form .form-group {
    padding: 0 10px
}
.solicite_consult form input {
    border-radius: 0
}
.solicite_consult form .form-group:last-child {
    padding: 0
}
.solicite_consult .btn.btn-black {
    border-radius: 0;
    padding: 10px 0!important
}
.solicite_consult input[type=checkbox] {
    margin-top: -3px
}
.login-buzz .btn.btn-black {
    border: none;
    color: #ffffff;
    background-color: #000;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 0;
}

@media (max-width: 480px) {
	.result .news_blog {
		display: block;
		max-height: 100% !important;
	}
	.result figure {
		max-width: 100%;
	}	
	.result .details {
		margin: -130px 10px 0 10px;
		background: #ffffff;
	}
	.result .details h3 {	
		font-size: 1.3rem;
	    line-height: 1.5rem;
	}	
}
@media (max-width: 320px) {}
@media (min-width: 480px) and (max-width: 480px) {}